<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        Dropbox
    </h2>
</div>

<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12">
        <!-- BEGIN: Basic Table -->
        <div class="intro-y box">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
                <h2 class="font-medium text-base w-full">
                   All files
                </h2>
                <div class="w-full">
                    <div class="flex flex-col sm:flex-row items-center">
                        <div class="grow mr-5">
                            <input (keyup)="applyFilter($event)" #input type="text" class="form-control" placeholder="Filter">
                        </div>
                        <div class="form-check form-switch sm:w-auto sm:ml-auto mt-3 sm:mt-0">
                            <label class="form-check-label ml-0">Hide inactive users</label>
                            <input class="form-check-input mr-0 ml-3" type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="overflow-x-auto">
                    <div class="loading-overlay-spinner" *ngIf="isLoading">
                        <app-icon [hidden]="!isLoading" [name]="'loader-2'" [spin]="true" class="table-icon"></app-icon>
                    </div>
                    <table class="table" mat-table [dataSource]="dataSource" matSort [ngClass]="{'has-overlay' : isLoading }" (matSortChange)="sortByColumn($event)">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                        </ng-container>

                        <ng-container matColumnDef="clientModified">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Date</th>
                            <td mat-cell *matCellDef="let row">{{ row.clientModified | date:'medium' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="serverModified">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Server Date</th>
                            <td mat-cell *matCellDef="let row">{{ row.serverModified | date:'medium' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="pathLower">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Path</th>
                            <td mat-cell *matCellDef="let row">{{ row.pathLower }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of files" [ngClass]="{'has-overlay' : isLoading }"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
