<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="" class="flex mr-auto">
            <img alt="Midone - HTML Admin Template" class="w-6" src="../assets/images/logo.png" />
        </a>
        <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
    </div>
    <div class="scrollable">
        <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        <ul class="scrollable__content py-2">
            <li>
                <a href="javascript:;.html" class="menu menu--active">
                    <div class="menu__icon"><i data-lucide="home"></i></div>
                    <div class="menu__title">Dashboard <i data-lucide="chevron-down" class="menu__sub-icon transform rotate-180"></i></div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"><i data-lucide="box"></i></div>
                    <div class="menu__title">Menu Layout <i data-lucide="chevron-down" class="menu__sub-icon"></i></div>
                </a>
                <ul class="">
                    <li>
                        <a href="index.html" class="menu menu--active">
                            <div class="menu__icon"><i data-lucide="activity"></i></div>
                            <div class="menu__title">Side Menu</div>
                        </a>
                    </li>
                    <li>
                        <a href="simple-menu-light-dashboard-overview-1.html" class="menu menu--active">
                            <div class="menu__icon"><i data-lucide="activity"></i></div>
                            <div class="menu__title">Simple Menu</div>
                        </a>
                    </li>
                    <li>
                        <a href="top-menu-light-dashboard-overview-1.html" class="menu menu--active">
                            <div class="menu__icon"><i data-lucide="activity"></i></div>
                            <div class="menu__title">Top Menu</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- END: Mobile Menu -->
<div class="flex mt-[4.7rem] md:mt-0">
    <!-- BEGIN: Side Menu -->
    <app-navigation></app-navigation>
    <!-- END: Side Menu -->
    <!-- BEGIN: Content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <!-- END: Content -->
</div>
