<div class="login">
    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a href="" class="-intro-x flex items-center pt-5">
                    <img alt="Midone - HTML Admin Template" class="w-64" src="../assets/images/logo.png" />
                </a>
                <div class="my-auto">
                    <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="../assets/images/illustration.svg" />
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
                        A few more clicks to
                        <br />
                        sign in to your account.
                    </div>
                    <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">Manage all your work in one place</div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">Sign Up</h2>
                    <div class="intro-x mt-2 text-slate-400 xl:hidden text-center">A few more clicks to sign up to your account. Manage all orders in one place</div>
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="intro-x mt-8">
                            <input type="email" #email="ngModel" id="email" [(ngModel)]="model.email" name="email" placeholder="Email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" class="intro-x login__input form-control py-3 px-4 block"/>
                            <app-field-errors [field]="registerForm.controls.email"></app-field-errors>
                            <div class="field-error text-danger mt-2" *ngIf="registerForm.form.controls.email?.errors?.notUnique">Email must be unique, please use a different email.</div>

                            <input type="text" #firstName="ngModel" id="firstName" [(ngModel)]="model.firstName" name="firstName" placeholder="First name" required class="intro-x login__input form-control py-3 px-4 block mt-4"/>
                            <app-field-errors [field]="registerForm.controls.firstName"></app-field-errors>

                            <input type="text" #lastName="ngModel" id="lastName" [(ngModel)]="model.lastName" name="lastName" placeholder="Last name" required class="intro-x login__input form-control py-3 px-4 block mt-4"/>
                            <app-field-errors [field]="registerForm.controls.lastName"></app-field-errors>

                            <input type="text" #username="ngModel" id="username" [(ngModel)]="model.username" name="username" placeholder="Username" required [minlength]="usernameMinLength" class="intro-x login__input form-control py-3 px-4 block mt-4"/>
                            <app-field-errors [field]="registerForm.controls.username"></app-field-errors>
                            <div class="field-error text-danger mt-2" *ngIf="registerForm.form.controls.username?.errors?.notUnique">Username must be unique, please use a different username.</div>

                            <input type="password" #password="ngModel" id="password" [(ngModel)]="model.password" name="password" placeholder="Password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" class="intro-x login__input form-control py-3 px-4 block mt-4"/>
                            <app-field-errors [field]="registerForm.controls.password" [customValidations]="passwordValidator"></app-field-errors>

                            <input type="password" #passwordConfirmation="ngModel" id="passwordConfirmation" [(ngModel)]="model.passwordConfirmation" name="passwordConfirmation" required placeholder="Password confirmation" class="intro-x login__input form-control py-3 px-4 block mt-4"/>
                            <app-field-errors [field]="registerForm.controls.passwordConfirmation" [customValidations]="passwordConfirmationValidator"></app-field-errors>

                        </div>
                        <div class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4">
                            <div class="flex items-center mr-auto">
                                <input id="remember-me" type="checkbox" class="form-check-input border mr-2" />
                                <label class="cursor-pointer select-none" for="remember-me">Remember me</label>
                            </div>
                            <a href="">Forgot Password?</a>
                        </div>
                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                            <button class="btn btn-primary py-4 px-5 w-full xl:w-32 xl:mr-3 align-top max-h-12" type="submit">
                                Register <app-icon [hidden]="!isLoading" [name]="'loader-2'" [spin]="true" class="ml-2"></app-icon>
                            </button>
                            <button class="btn btn-outline-secondary py-4 px-5 w-full xl:w-32 mt-3 xl:mt-0 align-top max-h-12">Login</button>
                        </div>
                    </form>
                    <div *ngIf="isSuccessful" class="alert alert-success-soft show flex items-center mb-2 mt-5" role="alert"> <app-icon [name]="'check-circle'" class="mr-2"></app-icon> The user&nbsp;<b>{{this.model.username}}</b>&nbsp;has been successfully registered.</div>
                    <div *ngIf="isSuccessful" class="alert alert-outline-secondary alert-dismissible show flex items-center mb-2" role="alert"> <app-icon [name]="'alert-octagon'" class="mr-2"></app-icon> You'll be redirected to the login page in: {{remainingSeconds | async}} <button type="button" class="btn-close" data-tw-dismiss="alert" aria-label="Close"> <i data-lucide="x" class="w-4 h-4"></i> </button> </div>
                    <div *ngIf="showGeneralErrorMessage" class="alert alert-danger-soft show flex items-center mb-2 mt-5" role="alert"> <app-icon [name]="'alert-octagon'" class="mr-2"></app-icon> Something went wrong. <br> Please review your input fields or contact the company for assistance.</div>
                    <div class="intro-x mt-10 xl:mt-24 text-slate-600 dark:text-slate-500 text-center xl:text-left">By signin up, you agree to our <a class="text-primary dark:text-slate-200" href="">Terms and Conditions</a> & <a class="text-primary dark:text-slate-200" href="">Privacy Policy</a></div>
                </div>
            </div>
            <!-- END: Login Form -->
        </div>
    </div>
</div>
